.mainslider{
    border-radius: 10px;
    background: rgba(245, 245, 245, 0.54);
    // padding: 25px 0;
    margin-top: 28px;
    margin-bottom: 10px;
    padding-top: 20px;
    padding-bottom:30px;
  }
  
  .mainslidercaption{
    color: #242331;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px; 
    margin-bottom: 19px;
   
  }
  .slider{
    margin-top: 24px;
  }
  .bg{
    border-radius: 10px;
    border: 1px solid #F5F5F5;
    background: #FFF;
    padding: 20px;
  }

  .pslider{
    color: #242331 !important;
  font-size: 16px !important;
  font-style: normal;
  font-weight: 400 !important;
  line-height: 32px; 
  text-align: center;
   
  }
  .linkslider{
    text-decoration: none;
  }
  
  