/* profile.css */

.profile-image {
    border-radius: 50%;
    overflow: hidden;
    width: 120px;
    height: 120px;
}

.text-gray {
    color: #686868;
}
.p-color {
    color: #242331;
}
.button-edit {
    display: inline-flex;
    height: 36px;
    padding: 8px 24px;
    align-items: center;
    border-radius: 8px;
    border: 1px solid #e6e6e6;
    background-color: #ffff;
}
.button-blue {
    display: inline-flex;
    height: 36px;
    padding: 8px 24px;
    align-items: center;
    border-radius: 8px;
    border: none;
    background-color: #77bee8;
    color: #fff;
}
.link-dark {
    text-decoration: none;
    color: #000;
}
.large-image {
    width: 858px;
    height: 529px;
}
span {
    font-size: 13px;
}
/* -------------Media----------- */
@media only screen and (max-width: 768px) {
    .large-image img {
        position: relative;
        width: 120%;
        height: 40%;
        margin-left: 29px;
        margin-top: 17px;
    }
    .profile {
        position: relative;
        width: 45%;
        height: 50%;
    } 
    .profile p , a{
        position: relative;
        width: 220%;
    }
    .line hr{
        position: relative;
        width: 180%;

    }

}
