/* profile.css */

.profile-image {
    border-radius: 50%;
    overflow: hidden;
    width: 120px;
    height: 120px;
}
h6,h5{
    font-weight: bold;
}
p{
    color: #aca9a9;
}
a{
    text-decoration: none;
}
span{
    font-size: 13px;
}